
# Node
node_modules/

test-results

# Misc
devnotes.md

# Env
.env
.env.*
!.env.example
!.env.test

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# sveltekit
*.local
.svelte-kit/
.output
.vercel


# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# OS
.DS_Store
Thumbs.db

z-notes-etc/
