@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: geist-sans;
    src: url(/geist.woff2) format("woff2");
    font-display: block; /* or swap */
}

:root {
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-family: geist-sans, sans-serif;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action#manipulation */
    touch-action: pan-x pan-y pinch-zoom;

    /* background-color: #e5e7eb; */
    /* @apply text-slate-700; */
}

body {
    padding: 0;
    margin: 0;
}

ul.menu li:focus {
    background-color: #e5e7eb;
}


@layer utilities {
    .thin-scroll-y {
        -webkit-overflow-scrolling: touch;
        overflow-y: auto;
        scrollbar-width: thin;
        overscroll-behavior: contain;
    }
}
